extends layout

block prepend title
  | #{ page.title + " - "}
  
block content
  div.row
    div.col-lg-12
      h1.page-header= page.title
      
      - var i = 0
      while i < 7
        div.row
          - var j = 0
          while j++ < 3 && i < 7
            div(class="col-md-4 img-portfolio")
              img.img-responsive(src="http://placehold.it/700x400/333940/666")
              h3 Team member #{++i}
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          
      
      | !{ typogr(page.html).typogrify() }
