header#carousel(class="carousel slide")

  ol.carousel-indicators
    li.active(data-target="#carousel", data-slide-to="0")
    li(data-target="#carousel", data-slide-to="1")
    li(data-target="#carousel", data-slide-to="2")
    
  div.carousel-inner
    div.item.active
      div.fill(style="background-image:url('http://placehold.it/1600x900/333940/666&text=Slide 1');")
      div.carousel-caption
        h2= locals.description
        
    div.item
      div.fill(style="background-image:url('http://placehold.it/1600x900/333940/666&text=Slide 2');")
      div.carousel-caption
        h2= locals.description
        
    div.item
      div.fill(style="background-image:url('http://placehold.it/1600x900/333940/666&text=Slide 3');")
      div.carousel-caption
        h2= locals.description
        
  a.left.carousel-control(href="#carousel", data-slide="prev")
    span.icon-prev
  a.right.carousel-control(href="#carousel", data-slide="next")
      span.icon-next